#searchInput {
    float: left;
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    font-size: 30px;
    padding: 10px 15px;
}

@media screen and (max-width: 1000px) {
    #searchInput {
        width: 80%;
    }
}

@media screen and (max-width: 850px) {
    #searchInput {
        width: 75%;
    }
}

@media screen and (max-width: 600px) {
    #searchInput {
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    #searchInput {
        width: 65%;
    }
}