.searchContainer {
    position: relative;
    visibility: hidden;
    height: 0;
    width: 100%;
    background: rgba(20,20,20,.3);
    transition: .5s;
}

.searchContainer.fadeInLarge {
    visibility: visible;
    height: 200px;
    transition: .5s;
}

.searchFloat {
    position: absolute;
    width: 90%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    left: 50%;
    top: 10%;
}

#tools {
    position: absolute;
    width: 90%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 5%;
}

#toolComponents {
    float: left;
    height: 100px;
    width: 150px;
    margin: 0 20px;
    background: green;
}


#listItems {
    position: absolute;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
    left: 50%;
    width: 600px;
}